.button {
    background-color: rgba(158, 62, 232, 0.758);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:10px; 
  }

.button:hover {
    color: lavenderblush;
    background-color:rgba(178, 139, 215, 0.678);
}

a:hover{
  color : white;
}